@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'bakilda';
  src: url('/fonts/bakilda/bakilda-histori.ttf') format('truetype');
}
  
@font-face {
  font-family: 'ValueSansRegular';
  src: url('/fonts/ValueSansPro/ValueSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ValueSansMedium';
  src: url('/fonts/ValueSansPro/ValueSansPro-Medium.ttf') format('truetype');
}
  
@font-face {
  font-family: 'AbrilDisplayBlack';
  src: url('/fonts/Abril/Abril_Display_Regular.otf') format('otf');
}
@font-face {
  font-family: 'AbrilDisplaySemibold';
  src: url('/fonts/Abril/Abril_Display_SemiBold.otf') format('otf');
}
@font-face {
  font-family: 'Lemonada';
  src: url('/fonts/Lemonada-VariableFont_wght.ttf') format('truetype');
}

