.grid-wrapper {
    display: flex;
    gap:2%;
    flex-wrap: wrap;
  }
  .grid-wrapper img:nth-child(1) {
    width: 30%;
    height:300px;
    display: block;
    margin-bottom: 24px;
  }
 
.grid-wrapper img:nth-child(2) {
    width: 68%;
    height:300px;
    display: block;
    margin-bottom: 24px;
  }
 
  .grid-wrapper img:nth-child(3) {
    width: 24%;
    height:320px;
    display: block;
  }
  .grid-wrapper img:nth-child(4) {
    width: 42%;
    height:320px;
    display: block;
  }
  .grid-wrapper img:nth-child(5) {
    width: 30%;
    height:320px;
    display: block;
  }
