.hero_section .swiper-pagination-fraction, .hero_section .swiper-pagination-custom, .hero_section .swiper-horizontal > .swiper-pagination-bullets, .hero_section .swiper-pagination-bullets
.hero_section .swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom, 8px);
    top: var(--swiper-pagination-top, auto);
    left: 0;
    width: 100px;
}
.hero_section .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
}
.hero_section .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background:#86371C;
}